:root{
    --gray-100: #E1E1E6;
    --gray-200: #A9A9B2;  
    --gray-300: #7C7C8A;
    --gray-400: #505059;
    --gray-500: #323238;
    --gray-600: #29292E;
    --gray-700: #202024;
    --gray-800: #121214;
    --gray-900: #09090A;

    --primary-light: #4de7b7;
    --primary: #0da170;
    --primary-dark: #057a63;

    --link-color: #10b981;
    --link-hover: #0b8a60;

    --success: #22c55e;
    --warning: #eab308;
    --error: #991b1b;
    --info: #0ea5e9;

    --text-over-primary: #0a0f1a;
    --text-over-primary-dark: #e6e9f0;
    --text-over-primary-light: #0a0f1a;
    --text-over-success: #0a0f1a;
    --text-over-warning: #0a0f1a;
    --text-over-error: #e6e9f0;
    --text-over-info: #0a0f1a;

    --text-default: #e6e9f0;
    --text-muted: #aab3cc;

    --disabled: #555f7d;
    --text-disabled: #aab3cc;


}